.message-field-wrapper {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  grid-area: message-list;
}

.message-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #e2e2e2;
  padding: 20px;
  height: 100%;
}
